<!DOCTYPE html>
<html lang="en">
    <title>Amortisation Calculator</title>
    <head>
        <link href="../static/css/main.css" rel="stylesheet">
    </head>
        <body>
            <div class="container">
                <h1>Amortisation Calculator</h1>
                <h3>For usage and current capabilities, please refer to the Instructions page</h3>
                <h3>For upload file formats, please refer to the Templates page</h3>
                <br>
                <form>
                    <fieldset>
                        <legend>Import Source Data:</legend>
                        <label for="data_type">Source Data Type(s): </label>
                        <select id="data_type" name="data_type" required>
                            <option value="xlsx_file">Upload .xlsx file(s) containing Static and Trades</option>
                            <option value="trades_csv">Upload .csv file(s) containing Trade data</option>
                            <option value="static_csv">Upload .csv file(s) containing Static data</option>
                            <option value="manual_ent">Manually enter Static data</option>
                        </select>
                        <br><br>
                        <label for="files">File Selection: </label>
                        <input type="file" id="file" name="file" multiple required>
                        <button type="submit">
                            Submit
                        </button>
                    </fieldset>
                    <br><br>
                    <fieldset>
                        <legend>Amortisation Calculation: </legend>
                        <label for="period">Perform Amortisation Calculation for: </label><br>
                        <input type="radio" id="date_range" name="period" value="date_range">
                        <label for="date_range">A Date Range</label><br>
                        <input type="radio" id="val_date" name="period" value="val_date">
                        <label for="val_date">A Valuation Date</label>
                        <br><br>
                        <label for="from_date">Date From: </label>
                        <input type="date" id="from_date" name="from_date">
                        <label for="to_date">  Date To: </label>
                        <input type="date" id="to_date" name="to_date">
                        <br>
                        <label for="as_at">As At: </label>
                        <input type="date" id="as_at" name="as_at">
                        <br><br>
                        <label for="basis">Amortise on a: </label><br>
                        <input type="radio" id="blended_yield" name="basis" value="blended_yield">
                        <label for="blended_yield">Blended Yield Basis</label>
                        <input type="radio" id="lots" name="basis" value="lots">
                        <label for="lots">Lots Basis</label>
                        <br><br>
                        <label for="output">Output Result(s) to: </label>
                        <select id="output" name="output" required>
                            <option value="screen">Display results on screen only</option>
                            <option value="download">Download results in a file</option>
                            <option value="both">Display on screen, then download to a file</option>
                        </select>
                        <br><br>
                        <button type="submit">
                            Perform Calculation
                        </button>
                        <button type="reset">
                            Reset Form
                        </button>
                    </fieldset>
                </form>
            </div>
        </body>
</html>